body{font-family:"Roboto" ,Helvetica,Arial,sans-serif;background-color:#fff;color:#404040}
a:focus,a:hover,a:active{text-decoration:none}
ul{margin:0;padding:0;list-style:none}
img{max-width:100%; border: 0 }
.float-right { float: right}
#content {padding-top: 115px;}
#header{ position: fixed; z-index: 100; width: 100%; top: 0; height: 110px;}
.page #header{margin-bottom:0}
.header-top{background-color: #292929; height: 64px; line-height: 64px;}
.header-top h2{ height: 64px; line-height: 64px; color: #db0102; padding-left: 50px }
.header-top img { padding-right: 15px }
.header-top h2 span { color: #fff }
.logo{ position: absolute; top: 0; left: 44%}
.header-hotline{float:right;width:280px;margin-top:30px}
.header-hotline span{display:block;float:left;height:45px;width:45px;margin-right:10px;color:#ef3737;font-size:23px;line-height:45px;text-align:center;border:1px solid #ef3737;border-radius:50%}
.header-hotline p{margin:4px 0;padding:0;font-size:13px;color:#fbfbfb}
.header-hotline h2{margin:0;padding:0;font-size:14px;font-weight:400;color:#c7c7c7}
.header-right{float:right;border-right:1px solid #4b4b4b;border-left:1px solid #4b4b4b}
.nav-account-cart{height:55px}
.nav-account-cart > ul {width: 100%;}
.nav-account-cart > ul > li{float:left;width: 100%;}
.nav-account-cart > ul > li > a{display:block;height:55px;padding:0 30px;line-height:55px;color:#c7c7c7;border-right:1px solid #4b4b4b;border-bottom:1px solid #4b4b4b}
.nav-account-cart > ul > li:last-child > a{border-right:none}
.nav-account-cart > ul > li > a > i:first-child{margin-right:5px;color:#ef3737}
.nav-account-cart > ul > li > a > i:last-child{margin-left:5px;padding: 5px 0px;}
.nav-account{position:relative}
span#click_show { color: #c7c7c7; position: absolute;right: 10px;top: 19px;cursor: pointer; padding: 0px 5px;}
@media screen and (min-width: 480px) and (max-width: 767px){
	span#click_show {color: #c7c7c7; position: absolute;right: 30px;top: 2px;cursor: pointer; padding: 0px 5px;}
}
@media screen and (max-width: 479px){
	span#click_show { color: #c7c7c7; position: absolute;right: 10px;top: 0px;cursor: pointer; padding: 0px 5px;}
}
@media screen and (max-width: 320px){
	span#click_show { color: #c7c7c7; position: absolute;right:30px!important;top: 0px;cursor: pointer; padding: 0px 5px;}
}
@media screen and (max-width: 375px){
	.form-button {margin: 10px 0px;margin-left: 0px!important;}

}
@media screen and (min-width: 992px){
	.address-content .col-lg-4:nth-child(3n+1){clear:both;}
}
@media screen and (min-width: 992px) and (max-width: 1200px){
	.address-content .form-button { margin: 10px 0px; margin-left: 0px!important;}
}
@media screen and (min-width: 768px) and (max-width: 991px){
	.address-content .col-sm-6:nth-child(2n+1){clear:both;}
}
@media screen and (max-width: 991px){
	#show_cate {display:none;}
}
@media screen and (max-width: 480px){.cart-mini{display:none!important;}}
.nav-account ul{position:absolute;top:100%;left:0;display:none;z-index:999;width:200px;background-color:#fff;}
.nav-account ul li a{display:block;height:44px;padding:0 15px;line-height:44px;color:#404040;border-bottom:1px solid #ebebeb}
.nav-account ul li a:hover{color:#ef3737}
.nav-cart{position:relative}
.nav-cart:hover .cart-mini{display:block}
.cart-mini{position:absolute;top:100%;right:0;display:none;z-index:999;width:360px;padding:20px;border:1px solid #ebebeb;background-color:#fff;animation-name:slideInDown;animation-duration:.7s}
.cart-mini ul li{position:relative;overflow:hidden;padding:20px 0;border-bottom:1px solid #ebebeb}
.cart-mini ul li:first-child{padding-top:0}
.cart-mini-image{float:left;margin-right:15px}
.cart-mini-image img{height:135px;width:135px;border:1px solid #ebebeb}
.cart-mini-name{margin:0;padding:5px 0 10px;font-size:14px;font-weight:400}
.cart-mini-price{color:#ef3737;font-size:16px;font-weight:700}
.cart-mini-quantity{font-size:13px}
.cart-mini-remove{position:absolute;top:50%;right:0;color:#ebebeb;height:15px;width:15px;margin-top:-7.5px}
.cart-mini-total p{margin:0;padding:0;height:45px;line-height:45px;border-bottom:1px solid #ebebeb}
.cart-mini-total p span{font-weight:700;color:#ef3737}
.cart-mini-bottom{padding:20px 10px}
.cart-mini-bottom a{display:block;float:left;height:40px;padding:0 25px;margin-right:12px;line-height:40px;color:#fff;background-color:#ef3737;border-radius:5px}
.cart-mini-bottom a i{margin-right:7px}
.form-search{position:relative}
.search-query{width:100%;height:35px;padding:0 30px;line-height:35px;color:#c7c7c7;border:1px solid #ded133;outline:1px solid #ded133;background-color:#fff}
.search-submit{position:absolute;right:-14px;top:13px;height:38px;width:110px;font-size:16px;line-height:38px;color:#c7c7c7;text-align:center;background-color:transparent;border:none}
.header-bottom{background-color: #000; border-bottom: 3px solid #f6db34; min-height: 69px; }
.nav-main-button{float:right; z-index: 100; padding-left: 10px; position: relative;}
.nav-main > ul{list-style:none;margin:0;padding:0; margin-top: 69px; height: 100%; width: 100%;}
.nav-main > ul > li{float:left;position:relative}
.nav-main > ul > li > a{display:block;height:48px;padding:0 20px;line-height:48px;font-weight:700;color:#f4dc34;text-transform:uppercase}
.nav-main > ul > li:first-child > a{padding-left:0}
.nav-main ul li:hover > a,.nav-main ul li.active > a{color:#ef3737}
.nav-main > ul > li:hover .nav-main-sub{display:block}
@media (min-width: 768px){
	.nav-main > ul > li:last-child{
		display: none;
	}
}
.nav-main-sub{position:absolute;top:100%;left:0;display:none;z-index:999;width:200px;background-color:#fff;border:1px solid #ebebeb}
.nav-main-sub > li{position:relative}
.nav-main-sub > li > a{display:block;height:44px;padding:0 15px;line-height:44px;color:#404040;border-bottom:1px solid #ebebeb}
.nav-main-sub > li:last-child > a{border:none}
.nav-main-sub > li:hover > .nav-main-sub2{display:block}
.nav-main-sub2{position:absolute;right:-200px;top:-1px;display:none;width:200px;border:1px solid #ebebeb;border-left:3px solid #ef3737;background-color:#fff;animation-name:slideInRight;animation-duration:.7s}
.nav-main-sub2 > li > a{display:block;height:44px;padding:0 15px;line-height:44px;color:#404040;border-bottom:1px solid #ebebeb}
.slider{margin-bottom:60px}
.slider .row { border: 0px solid #f6db34 }
.owl-slider .item img{display:block;width:100%;height:auto}
.owl-slider .owl-pagination{position:absolute;bottom:20px;left:50%;margin-left:-30px}
.owl-slider .owl-page{height:12px;width:12px;margin-right:8px;float:left;background-color:transparent;border:1px solid #fff;border-radius:50%}
.owl-slider .owl-page.active{background-color:#fff}
.slider-banner-top,.slider-banner-bottom{display:block}
.slider-banner-top{margin-bottom:30px}
.feature ul{border:1px solid #ebebeb;overflow:hidden}
.feature ul li{float:left;width:25%;margin:33px 0;text-align:center}
.feature ul li img{height:50px;width:50px;margin-bottom:10px}
.feature ul li p{margin:0 0 5px;padding:0;font-size:14px;line-height:22px;color:#404040}
.feature ul li h2{margin:0;padding:0;font-size:14px;font-weight:700;text-transform:uppercase}
.heading{position:relative;height:46px;margin-bottom:30px;border-bottom:1px solid #252525; white-space: nowrap;; text-overflow: ellipsis; overflow: hidden;}
.heading h2,.heading h1{position:absolute;top:0;left:0;display:inline-block;margin:0;line-height: 46px;font-size:18px;color:#fff;text-transform:uppercase; background: #252525; overflow: hidden; white-space: nowrap; text-overflow: ellipsis}
.heading h2:before,.heading h1:before { background-image:url(images/icon_left.png); height: 46px; width: 25px; float: left; content:"";display:block; margin-right: 25px}
.heading h2:after,.heading h1:after { background-image:url(images/icon_right.png); height: 46px; width: 55px; float: right; content:"";display:block; margin-left: 30px;}
.heading ul {position: absolute; top: 16px; right: 55px;}
.heading ul li { display: inline-block;}
.heading ul li:after { content: "|"; float: right; padding: 0 10px}
.heading ul li:last-child:after { content: ""; float: right; padding: 0 10px}
.heading ul li a { color: #8e8e8e;}
.heading ul li a:hover {color: #2b2b2b}
.heading-button{position:absolute;right:0;bottom:5px;background-color:#fff}
.heading-button span{display:block;float:left;margin-right:5px;height:27px;width:27px;text-align:center;line-height:27px;cursor:pointer}
.heading-button span:hover{color:#fff; opacity: 0.7}
.heading-button span:last-child{margin-right:0}
.heading-button .button-prev { background-image: url(images/icon_prev.png); width: 25px; height: 26px;}
.heading-button .button-next { background-image: url(images/icon_next.png); width: 25px; height: 26px;}
.heading2{position:relative;height:35px;margin-bottom:30px;border-bottom:1px solid #ebebeb}
.heading2 h2{position:absolute;top:0;left:50%;display:inline-block;margin:0;margin-left:-35px;padding:0 0 15px;font-size:18px;color:#404040;text-transform:uppercase;border-bottom:1px solid #ef3737}
.product-item{margin-bottom:30px;}
.product-item-thumbnail{position:relative;text-align:center;background-color:#fff}
.product-item-thumbnail img{display:inline-block}
.product-item-thumbnail:hover .product-item-background{display:block}
.product-item-background{position:absolute;display:none;width:100%;height:100%;background-color:rgba(255,255,255,0.6);animation-name:zoomIn;animation-duration:.7s}
.product-item-button{position:absolute;top:50%;margin-top:-18px;left:50%;margin-left:-41px;width:82px;height:36px}
.product-item-add,.product-item-view{height:36px;width:36px;float:left;line-height:36px;color:#fff;text-align:center;background-color:#ef3737;border-radius:50%}
.product-item-add{margin-right:10px}
.product-item-add:hover,.product-item-view:hover{color:#fff}
.product-item-name{word-break: break-word; overflow:hidden; margin-top: 10px; line-height: 1.3}
.product-item-name a{display:block;margin:0;padding:0;font-size:15px;font-weight:400;color:#404040}
.product-item-price{height:21px;overflow:hidden;margin-bottom:12px;font-size:15px;font-weight:700;color:#ef3737}
.product-item-price-sale{height:18px;overflow:hidden;margin-bottom:12px;font-size:13px;color:#9a9a9a;text-decoration:line-through}
.product-item2{margin-bottom:30px}
@media screen and (max-width:425px) {
	.product-item2{margin:0 0 30px}
	.item2_footer {padding:0px!important;}
}
@media screen and (min-width: 992px) {
	.block-content .col-lg-3:nth-child(4n+1) {clear:left;}
	.category-grid .col-lg-4:nth-child(3n+1){clear:left;}
}
@media screen and (max-width: 991px) {
	.block-content .col-sm-6:nth-child(2n+1) {clear:left;}
	.category-grid .col-sm-6:nth-child(2n+1){clear:left;}
}
@media screen and (max-width: 375px){
	.product-item-add2{display:inline-block;height:35px;padding:0 0px!important;margin-bottom:10px;line-height:35px;color:#404040; width: 113px!important;text-align:center;border:1px solid #cbcbcb;border-radius:5px}
	.feature ul li { width: 100%!important;padding-left: 20px;text-align: left;}
	.feature ul li {float: left;width: 25%;margin: 5px 0;text-align: center;}
	.nav-category ul li { width: 100%!important;float: left;}
}
.product-item2 img{height:200px}

.product-item-add2{display:inline-block;height:35px;padding:0 15px;margin-bottom:10px;line-height:35px;color:#404040;text-align:center;border:1px solid #cbcbcb;border-radius:5px}

.product-item-add2:hover{color:#fff;border-color:#ef3737;background-color:#ef3737}
.product-item-add2 i{margin-right:5px}



.product-item2 .product-item-button{position:relative;top:auto;left:auto;margin:0}
.product-item2 .product-item-thumbnail{border:1px solid #ebebeb}
.nav-category > ul{border:1px solid #ebebeb;border-top:none}
.nav-category > ul > li{position:relative;padding:17px 20px;border-bottom:1px solid #ebebeb}
.nav-category > ul > li:last-child{border-bottom:0}
.nav-category > ul > li img{height:7px;width:7px;margin-right:13px; margin-left: 10px; margin-top: -2px;}
.nav-category > ul > li > a{font-size:15px;color:#404040}
.nav-category h2{margin:0;padding:0 0 0 20px;height:67px;font-size:18px;color:#000;line-height:67px;text-transform:uppercase; border: 1px solid #ebebeb;}
.nav-category h2:before{content:"";display:block;float:left;width:26px;height:15px;margin:25px 20px 0 0;background-image:url(nav-category-bar.png)}
.nav-category > ul > li:hover > a{color:#ef3737}
.nav-category > ul > li > a > img:last-child{display:none}
.nav-category > ul > li:hover > a > img:last-child{display:inline-block}
.nav-category > ul > li:hover > a > img:first-child{display:none}
.nav-category > ul > li.active > a{color:#ef3737}
.nav-category > ul > li.active > a > img:last-child{display:inline-block}
.nav-category > ul > li.active > a > img:first-child{display:none}
.nav-category > ul > li > ul > li {position:relative;padding:17px 20px;border-bottom:1px solid #ebebeb}
.nav-category > ul > li > ul > li > a{font-size:15px;color:#404040}
.nav-category > ul > li > ul > li:hover > a{color:#ef3737}
.nav-category > ul > li > ul > li > a > img:last-child{display:none}
.nav-category > ul > li > ul > li:hover > a > img:last-child{display:inline-block}
.nav-category > ul > li > ul > li:hover > a > img:first-child{display:none}
.nav-category > ul > li > ul > li.active > a{color:#ef3737}
.nav-category > ul > li > ul > li.active > a > img:last-child{display:inline-block}
.nav-category > ul > li > ul > li.active > a > img:first-child{display:none}
.nav-category ul li:hover .nav-category-sub{display:block}
.nav-category-sub{z-index:999;display:none;position:absolute;right:-200px;width:200px;top:-1px;border-left:2px solid #ef3737;border:1px solid #ebebeb}
.nav-category-sub > li{background-color:#fff;border-bottom:1px solid #ebebeb;padding:17px 20px;position:relative}
.nav-category-sub > li:last-child{border:none}
.nav-category-sub > li > a{color:#404040}
.nav-category-sub > li:hover > a{color:#ef3737}
.nav-category-sub > li:hover .nav-category-sub2{display:block}
.nav-category-sub2{position:absolute;top:-1px;right:-200px;display:none;width:200px;border:1px solid #ebebeb}
.nav-category-sub2 > li{background-color:#fff;border-bottom:1px solid #ebebeb;padding:13px 20px;background-color:#fff}
.nav-category-sub2 > li:last-child{border:none}
.nav-category-sub2 > li > a{color:#404040}
.nav-category-sub2 > li:hover > a{color:#ef3737}
.pagination{margin:5px 0;padding:0}
.pagination>li>a,.pagination>li>span{display:block;height:45px;width:45px;background-color:#f6f6f6;margin-left:9px;color:#404040;line-height:35px;text-align:center;border:none;margin-bottom:5px}
.pagination>li>a:focus,.pagination>li>a:hover,.pagination>li>span:focus,.pagination>li>span:hover,.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover{color:#fff;background-color:#ef3737}
.pagination>li:first-child>a,.pagination>li:first-child>span,.pagination>li:last-child>a,.pagination>li:last-child>span{border-radius:0}
.nav-view{float:left}
.nav-view a{display:block;float:left;height:40px;width:40px;color:#bbb;background-color:#f7f7f7;text-align:center;line-height:40px;border:1px solid #ebebeb}
.nav-view a:last-child{border-left:none}
.nav-view a.active{color:#555}
.nav-sortby{margin-bottom:30px}
.nav-sortby select{margin-left:20px;height:40px;line-height:40px;padding:0 10px;border:1px solid #ebebeb;background-color:#f7f7f7;outline:none}
.bread-crumb{background-color:#efefef;margin-bottom:30px}
.breadcrumb{margin:0;padding:20px 0;background-color:#efefef}
.breadcrumb > li > a{color:#333}
.breadcrumb > li+li:before{color:#333}
.breadcrumb > .active{color:#ef3737}
.banner-middle{padding-bottom:30px}
.article-item{margin-bottom:30px}
.article-item-name{margin:0 0 9px;padding:0}
.article-item-name a{margin:0 0 15px;padding:0;font-size:18px;color:#ef3737}
.article-item-info{padding-bottom:15px;color:#9c9c9c;border-bottom:1px solid #ebebeb;text-align:justify}
.article-item-info i{margin-right:5px}
.article-item-info span:first-child{border-right:1px solid #9c9c9c;padding-right:10px;margin-right:10px}
.article-item-summary{margin:0 0 15px;line-height:24px}
.article-item-readmore,.article-item-readmore:hover{display:inline-block;height:30px;line-height:30px;background-color:#ef3737;color:#fff;padding:0 10px;border-radius:5px}
.article-item-thumbnail img{height:235px;display:inline-block}
.article-item-thumbnail{position:relative;margin-bottom:20px;border:1px solid #ebebeb;text-align:center;background-color:#fff}
.article-item-thumbnail:hover .article-item-background{display:block}
.article-item-background{position:absolute;display:none;width:100%;height:100%;background-color:rgba(0,0,0,0.6);animation-name:zoomIn;animation-duration:.7s}
.article-item-button{position:absolute;top:50%;margin-top:-25px;left:50%;margin-left:-25px;width:50px;height:50px}
.article-item-view,.article-item-view:hover{height:50px;width:50px;float:left;line-height:50px;color:#fff;text-align:center;border:1px solid #fff;background-color:transparent;border-radius:50%}
.news{padding:30px 0}
.news-content{margin-right:-30px}
.owl-news .item{margin-right:30px}
.category{padding-bottom:100px}
.category-list .product-item{text-align:left}
.category-list .product-item-thumbnail{border:none}
.category-list .product-item-name{margin-top:35px}
.product-item-summary{margin-bottom:15px;margin-right:50px}
.cart{padding-bottom:100px}
.table-cart{margin-bottom:20px}
.table-cart th,.table-cart td{text-align:center;font-size:14px;color:#404040;font-weight:400;vertical-align:middle!important;background-color:#fff}
.table-cart th{height:65px}
.table-cart > thead > tr > th{color:#404040}
.citem-quantity{height:40px;width:40px;line-height:40px;border:1px solid #ebebeb;text-align:center;outline:none}
.citem-remove,.citem-remove:hover{color:#404040}
.table-cart-total{border:1px solid #ebebeb}
.table-cart-total > tbody > tr > td{padding:15px;font-size:14px;color:#404040;background-color:#fff}
.cart-btn-continue,.cart-btn-checkout,.cart-btn-update{display:inline-block;height:35px;padding:0 16px;font-size:12px;line-height:35px;color:#fff;text-transform:uppercase;text-decoration:none;background-color:#ef3737;border:none;border-radius:5px}
.cart-btn-continue:hover,.cart-btn-checkout:hover,.cart-btn-update:hover{opacity:.8;color:#fff}
.cart-title{margin:0 0 15px;padding:0;color:#977c61}
.blog .article-item{padding-bottom:30px;border-bottom:1px solid #ebebeb}
.blog .heading{margin-bottom:20px}
.nav-blog li:last-child .article-item2{border:none}
.article-title{margin:15px 0 20px;padding:0}
.article-title a{font-size:22px;font-weight:700;color:#404040;text-transform:uppercase}
.article-info{margin:0;padding-bottom:20px;color:#9c9c9c;text-align:justify}
.article-info i{margin-right:5px}
.article-info span{border-right:1px solid #9c9c9c;padding-right:10px;margin-right:10px}
.article-info span:last-child{border-right:none}
.article-summary{margin-bottom:20px}
.article-readmore{display:inline-block;height:45px;line-height:45px;padding:0 30px;background-color:#ef3737;border-radius:5px;color:#fff}
.article-readmore:hover{opacity:.8;color:#fff}
.article-item2{border-bottom:1px solid #ebebeb;margin-bottom:20px}
.article-item2 h3{margin:10px 0 15px;padding:0;font-size:14px;line-height:24px;color:#444;font-weight:400}
.tags a{display:inline-block;height:30px;line-height:30px;color:#404040;border:1px solid #ebebeb;padding:0 15px;margin-right:10px;margin-bottom:5px}
.tags a:hover{background-color:#ef3737;color:#fff}
.article-comment{border-top:1px solid #ebebeb}
.article-comment h2{margin:0;padding:30px 0;font-size:20px;color:#444}
.comments{border-bottom:1px solid #ebebeb}
.comment-item{margin-bottom:30px}
.comment-item h3{margin:0;padding:0 0 10px;font-size:14px;color:#404040}
.comment-item time{font-size:12px;color:#b1b1b1;padding-bottom:10px}
.comment-item p{margin-top:10px}
.form-comment{margin-bottom:15px}
.form-comment label{font-size:14px;font-weight:400;color:#464646}
.form-comment label span{color:red}
.comment-name,.comment-email,.comment-body{width:100%;margin-bottom:20px;outline:none;line-height:40px;padding:0 10px;border:1px solid #ebebeb;border-radius:5px;background-color:#fcfcfc}
.comment-submit{height:45px;line-height:45px;padding:0 10px;font-size:14px;color:#fff;text-transform:uppercase;border:none;background-color:#ef3737;border-radius:5px}
.form-style h1,.form-style h2{margin:0;padding:30px 0;font-size:14px;color:#404040;text-transform:uppercase}
.form-style label{font-size:14px;font-weight:400;line-height:32px;color:#404040;width:100%}
.form-style label span{color:red}
.form-text{height:45px;width:100%;margin-bottom:10px;padding:0 20px;background-color:#fff;border:1px solid #e1e1e1;outline:none;border-radius:5px}
select.form-text{height:45px}
.form-checkbox{margin-right:5px!important}
.form-textarea{width:100%;margin-bottom:10px;padding:20px;background-color:#fff;border:1px solid #e1e1e1;outline:none;border-radius:5px}
.form-style .form-link{color:#404040;line-height:32px;display:block}
.form-style .form-link:hover{color:#337ab7}
.form-button{display:inline-block;height:45px;padding:0 16px;font-size:12px;line-height:45px;color:#fff;text-transform:uppercase;text-decoration:none;background-color:#ef3737;border:none;border-radius:5px}
.form-button:hover{text-decoration:none;color:#fff;opacity:.8}
.form-button + .form-button{margin-left:10px}
.address-edit .form-text{height:30px;line-height:30px;padding:0 10px}
.address-edit select.form-text{height:45px}
.address-edit label{line-height:20px}
.address-add{margin-top:20px}
.address-info label{font-weight:700}
.reset-password{padding-bottom:100px}
#map{width:100%;height:405px}
.login,.address,.account,.contact,.article{padding-bottom:100px}
.contact .footer-about{margin-top:35px}
.product{margin-bottom:80px}
#gallery_01{margin-right:-20px}
@media screen and (min-width: 480px){
	#owl-product .item{margin-right:20px!important;}
}

#owl-product .item img{width:100%;border:1px solid #ebebeb;margin-right:5px}
#owl-product .owl-buttons div{position:absolute;top:50%;width:25px;height:25px;margin-top:-12.5px;font-size:12px;line-height:25px;color:#838383;text-align:center;background-color:#fff;border:1px solid #ebebeb}
#owl-product .owl-next{right:0}
#owl-product .owl-prev{left:-10px}
.elevate-image{border:1px solid #ebebeb;margin-bottom:20px}
.product-name{margin-top:0;margin-bottom:10px;font-size:15px;color:#404040}
.product-price{padding:0;margin:0 0 10px;font-size:15px;color:#ef3737}
.product-price-on{margin-right:10px}
.product-price-sale{color:#959595;text-decoration:line-through}
.product-description{padding:12px 0;font-size:14px;line-height:16px;color:#404040; margin-top: 15px;}
.product-select-group{width:100%;overflow:hidden;padding:15px 0 25px;border-bottom:1px solid #ebebeb;margin-bottom:20px}
.product-select-group label{width:100%;font-size:14px;font-weight:400;color:#363533;line-height:30px}
.product-quantity-group{width:50%;float:left}
.product-quantity-group span{float:left;width:40px;height:40px;color:#404040;line-height:40px;text-align:center;background-color:#fff;border:1px solid #ebebeb;cursor:pointer}
.product-quantity{float:left;height:40px;width:60px;line-height:40px;color:#404040;text-align:center;border:1px solid #ebebeb;border-left:none;border-right:none;outline:none}
.product-add,.product-add:hover{display:inline-block;height:45px;padding:0 25px;margin:20px 0;line-height:45px;color:#fff;text-decoration:none;text-transform:uppercase;background-color:#977c61}
.product-image{margin-bottom:40px}
.product-select-group .selector-wrapper{width:30%;float:left; padding-right: 10px;}
.product-select-group .selector-wrapper select{height:40px;width:100%;color:#363533;font-size:14px;line-height:40px;padding:0 10px;border:1px solid #ebebeb}
.product-tab{margin-bottom:70px}
.product-tab .nav-tabs > li > a,.product-tab .nav-tabs > li > a:hover{padding:0 25px;margin:0;height:45px;font-size:14px;line-height:45px;color:#404040;text-transform:uppercase;border-radius:0}
.product-tab .nav-tabs > li.active > a,.product-tab .nav-tabs > li.active > a:focus,.product-tab .nav-tabs > li.active > a:hover{color:#404040;background-color:#fff;border-top:1px solid #ebebeb;border-bottom:none}
.product-tab .tab-pane{padding:25px;border:1px solid #ebebeb;border-top:none;background-color:#fff}
.footer-top{background-color:#efefef}
.nav-footer{float:left}
.nav-footer ul li{float:left;margin-right:35px;color:#404040}
.nav-footer ul li a{height:60px;padding:3px 0;line-height:60px;font-size:14px;color:#404040}
.nav-footer ul li a:hover,.nav-footer ul li.active a{border-bottom:1px solid #9c9c9c}
.nav-social{float:right}
.nav-social ul li{float:left;margin-right:10px;padding:15px 0;line-height:30px}
.social-facebook a{color:#404040}
.social-facebook:hover a{background-color:#4a6ea9;border-color:#4a6ea9;color:#fff}
.social-google a{color:#404040}
.social-google:hover a{background-color:#DC4A38;border-color:#DC4A38;color:#fff}
.social-youtube a{color:#404040}
.social-youtube:hover a{background-color:#CF3427;border-color:#CF3427;color:#fff}
.nav-social ul li a{display:block;height:30px;width:30px;line-height:30px;text-align:center;border:1px solid #898989;border-radius:50%}
.footer-bottom{padding:50px 0;background-color:#f6f6f6}
.heading-small{position:relative;height:35px;border-bottom:1px solid #ebebeb}
.heading-small h3{position:absolute;top:-1px;left:0;display:inline-block;margin:0;font-size:16px;line-height:35px;color:#404040;text-transform:uppercase;border-bottom:1px solid #ef3737}
.footer-about ul{margin-top:10px}
.footer-about ul li{line-height:35px;width:100%;float: left;}
.footer-about ul li i{float:left;width:25px; color:#ef3737;line-height:35px}
.footer-about ul li:first-child{margin-top:15px}
.footer-about ul li:first-child i{/*margin-bottom:10px;*/ margin-top:-5px;}
.footer-about ul li p{margin:0;padding:0}
.footer-about ul li:first-child p{line-height:24px}
.footer-about ul li a{color:#404040}
.footer-menu ul{margin-top:10px}
.footer-menu ul li a{display:block;line-height:35px;color:#404040}
.footer-menu ul li a:hover{color:#ef3737}
.footer-subcribe > p{margin:10px 0;line-height:35px}
.subcribe-email{width:100%;height:40px;padding:0 15px;margin-bottom:15px;line-height:40px;border:1px solid #ebebeb;border-radius:5px;outline:none}
.subcribe-submit{height:35px;display:inherit;padding:0 30px;line-height:35px;background-color:#ef3737;color:#fff;text-align:center;border:none;border-radius:5px;outline:none}
.footer-copyright{color:#f6f6f6;background-color:#f6f6f6;border-top:1px solid #dbdbdb}
.footer-copyright p{height:60px;margin:0;padding:0;color:#404040;line-height:60px}
.footer-copyright p a{color:#ef3737}
.nav-payments{float:right}
.nav-payments ul li{float:left;margin-left:15px;color:#404040;line-height:60px}
.text-danger{color:red}
.share-blog .fa {color:#000;}
.service {
	padding: 10px 70px;
}

.service .title {
	color: #ffdd00;
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 10px;
	display: block;
}

.service .block div {
	margin-right: 45px;
	width: 100px;
	float: left
}

.service .block p {
	padding-right: 20px;
	float: left;
	width: calc(100% - 145px);
}


.banchay h2 {
	background: #252525;
	height: 46px;
	color: #ffdd00;
	text-align: center;
	line-height: 46px;
}
.banchay h2:before {
	background-image: url('images/box_left.jpg');
	width: 25px;
	height: 46px;
	float: left;
	content:"";display:block;
	border-left: 1px solid #ebebeb;
}
.banchay h2:after {
	background-image: url('images/box_right.jpg');
	width: 25px;
	height: 46px;
	float: right;
	content:"";display:block;
}
.banchay ._box {
	border: 1px solid #ebebeb;
	border-top: 0;
	padding: 15px;
}

.enter { display: none}
@media (max-width: 767px) {
	#header{margin-bottom:15px}
	/* .logo{margin:25px 0; top: 39px; left: 30%;} */
	.logo { display: none;}
	.logo img { height: 85px;}
	.header-right{float:left;border:none}
	.nav-account-cart{height:45px;line-height:45px}
	.nav-account-cart > ul > li > a{height:45px;line-height:45px;padding-left:0;padding-right:60px;border:none}
	.header-top > .container > .row > .col-xs-12:last-child{background-color:#292929}
	.slider{margin-bottom:0}
	.feature{margin-bottom:30px}
	.feature ul li{width:50%;padding-left:20px;text-align:left}
	.feature ul li img{float:left;margin-right:10px}
	.feature ul li p{margin:5px 0 0}
	.nav-category{margin-bottom:30px}
	.nav-category ul{overflow:hidden}
	.nav-category ul li{width:50%;float:left}
	.best-sell{padding-bottom:10px;padding-top:30px}
	.banner-middle{padding-bottom:40px}
	.heading2 h2{left:0;margin-left:0;}
	.news{padding:0 0 10px}
	.owl-news .item{margin-right:0}
	.nav-social{float:left}
	.subcribe-email{width:360px}
	.footer-copyright p{text-align:center}
	.footer-about,.footer-menu{margin-bottom:20px}
	.news-content{margin-right:0}
	.nav-main{display:none}
	.nav-main > ul > li{float:none;text-align:center}
	.nav-main > ul > li:last-child { margin-bottom: 10px }
	.nav-main > ul > li > a{display:inline-block;padding:0;text-align:center}
	.nav-main-sub{position:relative;width:100%}
	.nav-main-sub > li{text-align:center;border-bottom:1px solid #ebebeb}
	.nav-main-sub > li > a{display:inline-block;text-align:center;border:none}
	.nav-main-sub2{position:relative;left:0;width:100%}
	.nav-main-sub2 > li > a{text-align:center}
	.cart-mini{width:320px;right:-25px}
	.nav-category > ul > li:hover{background-color:#fff}
	.nav-category > ul > li:hover > a{color:#404040}
	.nav-category-sub{position:relative;left:0;width:100%;border:none}
	.nav-category-sub > li{border:none}
	.nav-category-sub2{position:relative;left:0;width:100%;border:none}
	.nav-category-sub2 > li{border:none}
	.category-list .product-item{text-align:center}
	.product-item-summary{margin:0 15px 15px;text-align:justify}
	.table-cart-total{margin-top:15px}
	.product-quantity-group{width:55%}
	.product{margin-bottom:20px}
	.cart-mini-bottom a{padding:0 15px}
	.contact{padding-bottom:20px}
	.article-title{margin-bottom:10px}
	.article-info{padding-bottom:10px}
	.search-submit { right: -1px; top: -2px;}
	.service .block div {
		margin-right: 20px;
	}
	.service .block p { float: none; width: unset; padding-right: 20px}
	.header-top h2 { padding-left: 0px; }
	.banchay, .adv { display: none}
	.enter { display: block}
	.product-tab .nav-tabs > li > a,.product-tab .nav-tabs > li > a:hover { height: 50px; line-height: unset; font-size: 13px; padding: 5px 10px;}
	.heading h2:before,.heading h1:before { margin-right: 10px;}
	.heading h2:after,.heading h1:after { margin-left: 15px;}
	.heading h2, .heading h1 { font-size: 15px;}
}
@media (min-width: 320px) and (max-width: 479px) {
	.feature ul li{width:100%;margin:10px 0}
	.nav-category ul li{width:100%}
	.nav-account-cart > ul > li > a{padding-right:35px}
	.subcribe-email{width:100%}
	.footer-about,.footer-menu{margin-bottom:15px}
	.product-quantity-group{width:100%}
	.footer-copyright p{height:auto;line-height:30px}
	.cart-mini-bottom a{padding:0 15px}
	.slider-banner-top{margin-bottom:0}
}
@media (min-width: 768px) and (max-width: 991px) {
	.nav-category ul li{width:50%;float:left}
	.feature{margin-bottom:30px}
	.slider{margin-bottom:0}
	.nav-main-button{display:none}
	.best-sell .heading{margin-top:40px}
	.nav-category{margin-bottom:30px;overflow:hidden}
	.nav-category > ul > li:last-child{border-bottom:1px solid #ebebeb}
	.footer-about,.footer-menu{margin-bottom:15px}
	.footer-copyright p{float:right}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.nav-main-button{display:none}
	.feature ul li{margin:15px 0}
	.nav-category ul li{padding:10px 5px}
	.nav-social ul li:first-child{width:100%;padding:12px 0 0}
	.nav-category > ul > li img{margin-right:5px}
	.nav-main > ul > li:nth-child(3) > a{padding-right: 180px}
	.logo { left: 41%}
	.header-top h2 { padding-left: 0; font-size: 17px;}
}
@media (min-width: 1200px) {
	.nav-main-button{display:none}
	.nav-main > ul > li:nth-child(3) > a{padding-right: 340px}
}
.sp_1,.sp_2{background:url(support-online.png) left center no-repeat}
.sp_mail{background:url(email.png) left center no-repeat}
.online_support .block-content div p:first-child{color:#AFAFAF;margin:0;font-size:14px;line-height:24px}
.online_support h2{margin:0;padding:0 0 0 20px;height:50px;line-height:50px;font-size:18px;color:#fff;text-transform:uppercase;background:#ef3737}
.online_support .block-content{padding:10px 0;border:#ebebeb 1px solid}
.online_support .block-content div{padding-left:30px;margin-left:15px;font-size:13px}
.block{margin:15px 0}
.nav-category{margin-bottom:30px}
.blog_news .block-content .owl-item{padding:0 15px}
.blog-post .article_title{font-size:18px;color:#ef3737; padding-bottom: 5px; display: block}
.blog-post .post_content { height: 40px; overflow: hidden;}
.article_details{padding-bottom:10px;color:#9c9c9c;border-bottom:1px solid #ebebeb}
.article_details span{white-space:nowrap}
.article_details span:first-child{margin-right:10px}
.heading_rel{position:relative}
.heading_rel .view_all{position:absolute;right:0}
.view_all{text-align:right;font-style:italic}
.view_all a{color:#333}
.view_all:hover a{color:#ef3737}
.statistics,.blog_news{margin-bottom: 30px;}
div#mail-box {
	width: 100%;
	padding-bottom: 10px;
}
@media (max-width: 543px){

	.footer-copyright p {
		height:10px!important;
			margin: 0;
		padding: 0;
		color: #404040;
		line-height: 27px;
	}
	.line-down {display: block;}
	#gallery_01 {margin-right:-10px!important;}
}
@media screen and (max-width: 479px){
	#owl-product .item {
		margin-right: 13px!important;
	}
}



.single_view {
	height: 36px;
	width: 36px;
	line-height: 36px;
	color: #fff;
	text-align: center;
	background-color: #ef3737;
	border-radius: 50%;
	margin-left: 25px;
}
.cart-mini ul {
	height: 335px;
	overflow-y: auto;
	overflow-x: hidden;
}
.cart-mini ul::-webkit-scrollbar{
	width: 5px;
}

.cart-mini ul::-webkit-scrollbar-track{
	background: #ef3737;
}
::-webkit-scrollbar-thumb{
	width: 5px;
	background: #ef3737;
}


@media screen and (min-width: 992px) {
	.blog .col-lg-6.article_grid_item:nth-child(2n+1) {
		clear: both;
	}
}
@media screen and (min-width: 768px) and (max-width: 991px) {
	.blog .col-md-6.article_grid_item:nth-child(2n+1) {
		clear: both;
	}
}
@media screen and (min-width: 544px) and (max-width: 767px){
	.blog .col-sm-6.article_grid_item:nth-child(2n+1) {
		clear: both;
	}
}
.article-item2 a > img , .article-image a > img , .product-item-thumbnail img {max-width:100%!important; height:auto!important;}


.flex {
	display: flex;
}

.center {
	text-align: center;
}

.a_right {
	text-align: right;
}

.f_right {
	float: right;
}

.pr10 {
	padding-right: 10px;
}
.pb10 {
	padding-bottom: 10px;
}



.h200 {
	height: 200px;
}

.home_category { margin-bottom: 15px;}
.home_category a {color: #000;}
.home_category .cat_title { text-transform: uppercase; font-weight: bold; margin-top: 15px;}

.baogia {
	padding: 0 50px;
}

.color_yellow {
	color: #ffdd00;
}
.mb10 {
	margin-bottom: 10px;
}
.mb15 {
	margin-bottom: 15px;
}
.mb20 {
	margin-bottom: 20px;
}
.red {
	color: red;
}

.newTpl {
	color: black;
}

.newTpl .product-item-thumbnail {
	padding: 0;
	border: 1px solid #ebebeb;
}

.newTpl .product-item {
	border: 0;
	text-align: left;
}

.newTpl .product-item-name {

}
.newTpl .product-item-name a{
	font-weight: bold;
}

.details-pro {
	color: black;
}

.details-pro .product-name{ font-size:18px; font-weight: bold;}

.xemtatca {
	float: right;
	padding-right: 40px;
	margin-top: 15px;
}
